{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
{% include 'ads/filter_form.html' %} <!--включаю шаблон с формой для фильтрации-->
    {% if posts %}<!--если есть-->
        {% for p in posts %}
            <ul>
                <li>
                    <p>{{ p.title }} | Авантюрист: {{ p.author }} | Создан: {{ p.time_create }}</p>
                    <p><a href="{{ p.get_absolute_url }}">Подробнее...</a></p>
                    {% if p.closed %}<!--если объявление закрыто-->
                        <p>Объявление закрыто</p>
                    {% endif %}
                </li>
            </ul>
        {% endfor %}
    {% else %}<!--если пустой queryset-->
        <div>
            <p>Записи отсутствуют.</p>
        </div>
    {% endif %}
{% endblock content %}