{% extends 'base.html' %}

{% block content %}
    <div>
        {% if post.closed %}<!--если объявление закрыто-->
            <div class="last"><p>Объявление закрыто</p></div>
        {% else %}<!--если объявление НЕ закрыто-->
            {% if user == post.author %} <!--если юзер - это автор объявления-->
                 <div class="last-top">
                    <p><a href="{% url 'ads:close_post' post.post_slug %}">Закрыть объявление</a></p>
                    <p><a href="{% url 'ads:edit_post' post.post_slug %}">Редактировать объявление</a></p>
                </div>
            {% else %} <!--если юзер не автор объявления -->
                <div class="last-top"><p><a href="{% url 'ads:add_comment' post.post_slug %}">Откликнуться</a></p></div>
            {% endif %}
        {% endif %}
    </div>

    <div class="post-background">
        <div class="title">
            <p>{{ post.title }} | Создан: {{ post.time_create }} | Автор объявления: {{ post.author }}</p>
        </div>
        <p>{{ post.content|safe }}</p>
    </div>
{% endblock content %}
