{% extends 'base.html' %}

{% block content %}
    {% if posts %}<!--если есть-->
        {% for p in posts %}
            <div class="post-background">
                <div class="content">
                    <div class="title">
                        <p>{{ p.title }} | Авантюрист: {{ p.author }} | Создан: {{ p.time_create }}</p>
                    </div>

                    <p><a href="{{ p.get_absolute_url }}">Подробнее...</a></p>
                    {% if p.closed %}<!--если объявление закрыто-->
                        <p>Объявление закрыто</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}<!--если пустой queryset-->
        <div>
            <p>Записи отсутствуют.</p>
        </div>
    {% endif %}
{% endblock content %}