{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'ads/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<nav role="navigation">
    {% block menu %}
        <nav>
            <ul>
                <li class="menu">
                    {% for m in mainmenu %} <!--меню,которое видно всем  / в файле ads/utils.py-->
                        <a href="{% url m.url_name %}">{{ m.title }}</a>
                    {% endfor %}
                </li>

                {% if user.is_authenticated and user.is_active %}<!--меню,которое видно только авторизованным пользователям-->
                    <li class="menu">
                        {% for a in auth_menu %}
                            <a href="{% url a.url_name %}">{{ a.title }}</a>
                        {% endfor %}
                    </li>
                    <li class="last">
                        <a href="{% url 'users:profile' user.id %}">{{ user.nickname }}</a>
                        {% for l in logout_menu %}
                            <a href="{% url l.url_name %}">{{ l.title }}</a>
                        {% endfor %}
                    </li>
                {% else %}<!--меню,которое видно неавторизованным пользователям-->
                    <li class="last">
                        {% for l in login_signup_menu %}
                            <a href="{% url l.url_name %}">{{ l.title }}</a>
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endblock menu %}
</nav>
<div>
    {% block breadcrumbs %}
    {% endblock breadcrumbs %}
</div>
<div>
    {% block content %}
    {% endblock content %}
</div>
    {% include 'ads/pagination.html' %}
</body>
</html>