{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'ads/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<nav role="navigation">
    {% block menu %}
        <nav>
            <ul>
                <li class="menu">
                    <a href="{% url 'ads:index' %}">Главная страница</a>
                    <a href="{% url 'ads:all_posts' %}">Поиск пати</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="menu">
                        <a href="{% url 'ads:add_news' %}">Добавить новость</a>
                        <a href="{% url 'ads:add_post' %}">Создать заявку</a>
                    </li>
                    <li class="last">
                        <a href="{% url 'ads:user_post_page' %}">Мои объявления</a>
                        <a href="{% url 'ads:comments_incoming' %}">Входящие отклики</a>
                        <a href="{% url 'ads:comments_outgoing' %}">Мои отклики</a>
                        <a href="{% url 'users:profile' user.pk %}">{{ user.username }}</a>
                        <a href="{% url 'users:logout' %}">Выйти</a>
                    </li>
                {% else %}
                    <li class="last"><a href="{% url 'users:login' %}">Войти</a>  <a href="{% url 'users:registration' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endblock menu %}
</nav>
<div>
    {% block breadcrumbs %}
    {% endblock breadcrumbs %}


    {% block content %}
    {% endblock content %}
</div>
</body>
</html>