{% extends 'base.html' %}

{% block content %}
<div class="post-background">
    <p>Еще не созданы группы пользователей.</p>
    <p>Создайте, пожалуйста, в админ панели 3 группы пользователей с желаемыми правами доступа в следующем порядке:</p>
    <p>1) admin - администратор, с id=1</p>
    <p>2) moderator - модератор, c id=2</p>
    <p>3) default_user - простой пользователь, c id=3.</p>
    <p>Это необходимо сделать т.к. при регистрации всем пользователям автоматически назначается группа default_user по умолчанию. Если они еще не созданы, вы попадаете на эту страницу :)</p>
    <p>Перейти в<a href="http://127.0.0.1:8000/admin/">панель администратора</a></p>
</div>
{% endblock content %}