{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'ads/filter_form.html' %} <!--включаю шаблон с формой для фильтрации-->
    {% if comment %}<!--если есть-->
        {% for c in comment %}
            <div class="last-top"><a href="{{ c.get_success_url }}">Открыть</a></div>

            <div class="post-background">
                <div class="content">
                    <div class="title">
                        <p>Комментарий от: {{ c.author }} | Отправлен: {{ c.time_create }}</p>
                    </div>

                    <p>К объявлению: {{ c.post.title }}</p>

                    <div class="last-bottom">
                        {% if c.processed %}<!--если отклик ОБРАБОТАН-->
                            <p>Обработан</p>
                        {% else %}<!--если отклик НЕ ОБРАБОТАН-->
                            <p>Не обработан</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}

        {% else %}<!--если пустой queryset-->
            <div>
                <p>Записи отсутствуют.</p>
            </div>
        {% endif %}

{% endblock content %}