{% extends 'base.html' %}

{% block content %}
    {% if news %}
        {% for n in news %}
            <div class="post-background">
                <div class="content">
                    <div class="title">
                        <p>{{ n.title }} | От: {{ n.time_create }}</p>
                    </div>

                    <p>{{ n.content|safe }}</p>
                    <a href="{% url 'ads:news_detail' n.news_slug %}">Подробнее...</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <p>Записи отсутствуют.</p>
        </div>
    {% endif %}
{% endblock content %}