{% extends 'base.html' %}

{% block content %}
    {% if posts %}<!--если есть-->
        {% for p in posts %}
            {% if p.closed %}<!--если объявление закрыто-->
                <div class="last-top"><p>Объявление закрыто</p></div>
            {% endif %}

            <div class="post-background">
                <div class="content">
                    <div class="title">
                        <p><a href="{{ p.get_absolute_url }}">{{ p.title }} | От: {{ p.time_create }}</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}<!--если пустой queryset-->
        <div>
            <p>Записи отсутствуют.</p>
        </div>
    {% endif %}
{% endblock content %}