{% extends 'base.html' %}

{% block content %}
    {% if news %}
        {% for n in news %}
            <div>
                <div>
                    <p><h3>{{ n.title }} | От: {{ n.time_create }}</h3></p>
                    <p>{{ n.content|truncatewords:20 }}</p>
                    <a href="{% url 'ads:news_detail' n.news_slug %}">Подробнее...</a>
                    <hr>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <p>Записи отсутствуют.</p>
        </div>
    {% endif %}
{% endblock content %}