<div>
    {% if paginator.num_pages > 1 %} <!--пагинация отображается, если страниц больше, чем 1 -->
        {% if page_obj.has_previous %}
            <a href="?page={{ 1 }}">к началу</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<</a>
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            ...
        {% endif %}
            {{ page_obj.number }}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            ...
            из
            <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
            <a href="?page={{ page_obj.next_page_number }}">>></a>
        {% endif %}
    {% endif %}
</div>